.container-fluid.text-center
  %h1 Willy's Site!

  %br
  .col-md-6.col-md-offset-3
    %p
      If you are seeing this page, then you are much too early! We're still under development, so get the heck out of here.
