.container-fluid.text-center
  .col-md-6.col-md-offset-3
    .message.gmt

    =image_tag 'seasonal/merry-christmas.png', class: 'merry-xmas'


:coffeescript
  $ ->
    text = [
      "Hi Sarah. "
      "First off, I want to apologize. "
      "It can't be easy dealing with who I am. "
      "I'm not always fun, not always kind, not always loving, but you don't seem to mind. "
      "I'm shy and sad and small and silent, "
      "But also good and glad and giant and gorgeous. "
      "Because of you. "
      "You see these things in me, and because of that, I start to see them too. "
      "So this Christmas, this one's for you :)"
    ]

    $('.message').teletype
      text: text
      typeDelay: 60
      backDelay: 0
      loop: 1
      preserve: true
      callbackFinished: ->
        $('.merry-xmas').fadeIn
          duration: 2000