@import "variables"

@font-face
  font-family: 'Silkscreen'
  src: url(asset-path('Silkscreen.woff')) format('woff'), url('slkscr.woff2') format('woff2')
  font-weight: normal
  font-style: normal

body
  font-family: $font-family
  font-size: $font-size
  font-weight: $font-weight
  color: $text-color
