%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to "Willy's Site", root_path, class: 'navbar-brand'

    %ul.nav.navbar-nav.navbar-center

      %li
        =link_to 'Games', games_path